simTag		  MCNVT
potential         REBO

rStep             4000000
eStep             8000000
dAction           0
dStateStep        80000
dStatStep         10
dInfoStep         1000

inFile		  in.log
actionFile        action.log
stateFile         state.log
statFile          stat.log
infoFile          info.log
junkFile          junk.log
digits            9

rootDir           ./sim.root
simDir            exp1 exp2

tableBegin: Default
caseDir	kT
case1	0.025
case2	0.085
case3	0.145
case4	0.205	
case5	0.265
case6	0.325
case7	0.385
case8	0.445
tableEnd
